<section id="home" class="root-sec scroll-section">
  <div class="sec-overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="home-inner">
            <div class="home-content">
              <h1 class="home-title"><span>HI! I'm</span> {{ profile.first_name }} {{ profile.last_name }}</h1>
              <h2 class="home-subtitle">{{ profile.title }} from {{ address.city }}, {{ address.country }}</h2><a href="#contact" data-section="#contact" class="hire-me-btn btn-large btn-border waves-effect waves-light">Hire Me</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-call-to-area">
      <div class="container">
        <div class="row"><a href="#about" data-section="#about" class="btn-large btn-floating button-middle section-call-to-btn"><i class="fa fa-angle-down"></i></a></div>
      </div>
    </div>
  </div>
</section>